
/* Hero */
.hero {
    padding-top: 150px;
    padding-bottom: 250px;
    &__content {
        text-align: center;
        color: $light-text
    }
    &__heading {
        margin-bottom: 23px;
    }
    &__title {
        margin-bottom: 0;
    }

    &--home {
    }
}

/* Profile */
.profile {
    padding-top: 100px;
    padding-bottom: 40px;
    &__ola-container {
    }
    &__figure {
        max-width: 300px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__image {
        width:100%;
    }
    &__content {

    }
    &__title {
        margin-bottom: 30px;
    }
    &__subtitle {
        margin-bottom: 30px;
    }
    &__description {
        margin-bottom: 45px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: $dark-text;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
    &__btn {
    }
}

/* Sckiill and social */
.skill-social {
    .container {
        display: flex;
        > div {
            &:first-child {
                width: 60%;
            }
            &:last-child {
                width: 40%;
            }

        }
    }
}

/* Skill */
.skill {
    &__title {
        margin-bottom: 30px;
    }
    &__items {
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 12px 0;
    }
    &__item-figure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60;
        height: 60;
        border-radius: 50%;
        background-color: $light-bkg;
        margin-right: 26px;
    }
    &__item-image {
        margin: 3px;
    }
    &__item-title {
        margin-right: 16px;
        font-weight: bold;
    }
    &__bar {
        position: relative;
        height: 30px;
        border-radius: 15px;
        background-color: $light-bkg;
        max-width: 500px;
        width: 100%;
        overflow: hidden;
    }
    &__bar-percent {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-height: 100%;
        height: 100%;
        width: 76%;
        text-align: right;
        color: $dark-text;
        background-color: $green;
        font-weight: bold;
    }
}

/* Social */
.social {
    &__title {
        margin-bottom: 30px;
    }
    &__items {
        padding-top: 35px;
        padding-bottom: 30px;
    }
    &__item {
        display: flex;
        padding: 13.5px 0;

    }
    &__item-figure {
        border-radius: 50%;
        background-color: $light-bkg;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item-image {}
    &__item-title {
        font-weight: bold;
    }
}

/* Project */
.project {
    background-color: $light-bkg;
    padding-top: 80px;
    padding-bottom: 80px;

    &__title {
        text-align: center;
        margin-bottom: 100px;
    }
    &__items {
        position: relative;
        max-height: 900px;
        overflow: hidden;
        margin-bottom: 50px;
        &:before {
            content:'';
            position: absolute;
            width: 100%;
            bottom: 0;

            height: 80px;
            box-shadow: inset 0 -80px 30px -40px $light-bkg;
        }
    }
    &__item {
        background-color: $white-bkg;
        border-radius: 15px;
        overflow: hidden;
        padding: 12px;
        padding-top: 0;
        margin-bottom: 30px;
    }
    &__item-figure {
        margin-right: -12px;
        margin-left: -12px;
    }
    &__btn {
    }
    &__item-title {
        margin-bottom: 30px;
    }
    &__item-description {
        margin-bottom: 30px;
    }
    &__btn {
    }
}

/* Contact */
.contact {
    position: relative;
    background-color: $dark-bkg;
    padding-bottom: 40px;
    &__ola-container {
        margin-bottom: 70px;
        transform: scale(-1) rotate(0);
        background-color: $light-bkg;
    }
    &__ola {
        filter: invert(1) sepia(13%) saturate(164%) hue-rotate(201deg) brightness(209%) contrast(85%);
        margin-top: -1px;
    }
    &__title {
        text-align: center;
        margin-bottom: 30px;
        color: $light-text;
    }
    &__form {
    }
    &__label {
    }
    &__input {
        height: 58px;
        border-radius: 30px;

    }
    &__btn {
    }
}
