

/* Profile */
.profile {
    background-color: $silver-bkg;
    position: relative;
    padding-bottom: 40px;
    @include responsive(pt, 100, 50);

    &__ola-container {
        position: absolute;
        bottom: 0;
        top: auto;
        transform: translateY(100%);
    }
    &__figure {
        max-width: 300px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 24px;
        @include mq(ml, 'auto', $md);
        @include mq(mr, 'auto', $md);
    }
    &__image {
        width: 100%;
    }
    &__content {

    }
    &__title {
        margin-bottom: 30px;
    }
    &__subtitle {
        margin-bottom: 30px;
    }
    &__description {
        margin-bottom: 45px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: $dark-text;
                @include mq('word-break', 'break-word', $md);

                &:hover {
                    color: $primary;
                }
            }
        }
    }
    &__btn {
        @include mq(w, '100%', $md);
    }
}

/* Sckiill and social */
.skill-social {
    @include responsive(pt, 140, 40);
    @include responsive(pb, 50, 30);
}

/* Skill */
.skill {
    &__title {
        @include responsive(mb, 30, 16);
        @include mq('text-align', 'center', $md);
    }
    &__items {
        max-width: 630px;
        margin-right: 15px;
        @include responsive(pt, 35, 16);
        @include responsive(pb, 30, 16);
        @include mq(mr, 0, $md);
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include responsive(pt, 12, 6);
        @include responsive(pb, 12, 6);
    }
    &__item-figure {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $light-bkg;
        @include responsive(w,60, 48);
        @include responsive(h,60, 48);
        @include responsive(mr, 26, 12);
    }
    &__item-image {
        margin: 3px;
    }
    &__item-title {
        margin-right: 16px;
        font-weight: bold;
        min-width: 185px;
        @include mq(minw, 100, $md);
        @include mq('display', 'none', $sm);
    }
    &__bar {
        position: relative;
        height: 30px;
        border-radius: 15px;
        background-color: $sky-blue;
        max-width: 500px;
        width: 100%;
        overflow: hidden;
    }
    &__bar-percent {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-height: 100%;
        height: 100%;
        width: 50%;
        text-align: right;
        font-weight: bold;
        color: $dark-text;
        background-color: $green;
        color: darken($color: $green, $amount: 5);
        @include responsive(fz, 12, 12);
        @include responsive(lh, 30, 30);
        @include responsive(pr, 12, 6);
    }
}

/* Social */
.social {
    &__title {
        @include responsive(mb, 30, 16);
        @include mq('text-align', 'center', $md);
    }
    &__items {
        @include responsive(pt, 35, 16);
        @include responsive(pb, 30, 16);
        @include mq(maxw, 160, $md);
        @include mq('margin', 'auto', $md);
    }
    &__item {
        display: flex;
        @include responsive(pt, 13.5, 8);
        @include responsive(pb, 13.5, 8);
    }
    &__item-figure {
        border-radius: 50%;
        background-color: $light-bkg;
        @include responsive(mr, 20, 8);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item-image {
        filter: invert(1);
    }
    &__item-title {
        font-weight: bold;
    }
}

/* Project */
.project {
    background-color: $light-bkg;
    @include responsive(pt, 80, 40);
    @include responsive(pb, 80, 40);

    &__title {
        text-align: center;
        @include responsive(mb, 100, 30);
    }
    &__items {
        position: relative;
        max-height: 1000px;
        overflow: hidden;
        @include responsive(mb, 70, 40);
        &:before {
            content:'';
            position: absolute;
            width: 100%;
            bottom: 0;

            @include responsive(h, 80, 40);
            box-shadow: inset 0 -80px 30px -40px $light-bkg;
        }
        &--full-view {
            max-height: none;
        }
    }
    &__item {
        background-color: $white-bkg;
        border-radius: 15px;
        @include responsive(br, 15, 10);
        overflow: hidden;
        padding: 12px;
        padding-top: 0;
        padding:0 45px  30px;
        @include responsive(pl, 45, 12);
        @include responsive(pr, 45, 12);
        @include responsive(mb, 40, 16);
    }
    &__item-figure {
        @include responsive(ml, -45, -12);
        @include responsive(mr, -45, -12);
        @include responsive(mb, 24, 16);
    }
    &__item-iframe {
        width: 100%;
        height: 450px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__item-image {}
    &__item-title {
        margin-bottom: 16px;
        color: $dark-text;
    }
    &__item-description {
        @include responsive(mb, 45, 30);
    }
    &__item-btn {
        @include mq(minw, 'auto', $lg);
        @include mq(w, '100%', $lg);
    }
    &__btn {
        
    }
}

/* Contact */
.contact {
    position: relative;
    background-color: $dark-bkg;
    padding-bottom: 40px;
    &__ola-container {
        margin-bottom: 50px;
        transform: scale(-1) rotate(0);
        background-color: $light-bkg;
    }
    &__ola {
        filter: invert(1) sepia(13%) saturate(164%) hue-rotate(201deg) brightness(209%) contrast(85%);
        margin-top: -1px;
    }
    &__title {
        text-align: center;
        margin-bottom: 16px;
        color: $light-text;
    }
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        margin: auto;
        @include mq('flex-wrap', 'wrap', $lg);

        .form__control {
            @include mq(w, '100%', $md);
        }
    }
    &__label {
        width: 100%;
    }
    &__input {
        height: 58px;
        border-radius: 30px;
        min-width: 500px;
        @include mq(minw, 'auto', $lg);

    }
    &__btn {
        min-width: auto;
        @include mq(w, '100%', $md);
    }
}
