.form {
    &__control {
        padding: 12px;
        width: auto ;
    }
}

.input {
    background-color: $light-bkg;
    padding: 12px;
    padding-left: 24px;
    min-height: 58px;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color: $dark-text;

    &::placeholder {
        color: $dark-text;
    }
}