
/* Footer */
.footer {
    background-color: $dark-bkg;
    color: $light-text;
    @include responsive(pt, 70, 40);

    &__figure {
        text-align: center;
        width: 300px;
        margin: auto;
        margin-bottom: 16px;

        @include responsive(w, 300, 230);

    }
    &__image {
        width: 100%;
    }
    &__nav {
        margin: auto;
        @include responsive(mb, 55, 30);
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            @include mq('flex-direction', 'column', $xs);
        }
        li {
            list-style: none;
        }
        a {
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            padding: 12px;
            display: block;
            color: $light-text;

            &:hover {
                color: $primary-text;
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
        @include mq('flex-wrap', 'wrap', $lg);
        @include mq('justify-content', 'center', $lg);
    }
    &__socials {
        display: flex;
        @include mq(mb, 12, $lg);
    }
    &__social {
        padding: 5px;
        display: block;
        background-color: $success-bkg;
        border-radius: 50%;
        @include responsive(mr, 12, 6);
        @include responsive(w, 40, 34);
        @include responsive(h, 40, 34);
    }
    &__copyright {
        @include mq(mb, 12, $lg);
    }
    &__copyright-text {
        display: inline-block;;
        margin: 0;
        position:relative;
        text-align: center;
        @include responsive(pl, 12, 6);
        @include responsive(pr, 12, 6);
        @include responsive(fz, 17, 13);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -2px;
            width: 2px;
            height: 100%;
            background-color: $light;
        }

        &:last-child{
            padding-right: 0;
            &::after {
                width: 0;
            }
        }
    }
}
