
/* Footer */
.footer {
    padding-top: 65px;
    background-color: $dark-bkg;
    color: $light-text;
    &__figure {
        text-align: center;
        width: 300px;
        margin: auto;
        margin-bottom: 16px;

    }
    &__image {
        width: 100%;
    }
    &__nav {
        margin: auto;
        margin-bottom: 55px;
        ul {
            display: flex;
            justify-content: center;
        }
        li {
            list-style: none;
        }
        a {
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            padding: 12px;
            display: block;
            color: $light-text;

            &:hover {
                color: $primary-text;
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__socials {
        display: flex;
    }
    &__social {
        width: 40px;
        height: 40px;
        padding: 5px;
        display: block;
        background-color: $success-bkg;
        border-radius: 50%;
        margin-right: 12px;
    }
    &__copyright {
    }
    &__copyright-text {
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;
        margin: 0;
        position:relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -2px;
            width: 2px;
            height: 100%;
            background-color: $light;
        }

        &:last-child{
            padding-right: 0;
            &::after {
                width: 0;
            }
        }
    }
}
