/* Variables  */
$primary: #046DB3;
$dark: #011F33;
$orange: #B44A04;
$green: #04B485;

$primary-text: #B44A04;
$orange-text: #B44A04;
$dark-text: #011F33;
$light-text: #E8F6FF;

$dark-bkg: #011F33;
$light-bkg: #E8F6FF;
$white-bkg: white;
